.toggle_view_button{
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
}

.toggle_view_button:hover{
    background-color: #232F57;
}

.toggle_view_button:active{
    background-color: #E4D9FF;
}

#pic_1{
    position: relative;
    left: 100px;
    top: 20px;
    width: 500px;
    height: 250px;
    padding: 20px;
}

#pic_2{
    position: relative;
    left: 350px;
    top: 20px;
    width: 500px;
    height: 250px;
    padding: 20px;
}

#pic_3{
    position: relative;
    left: 100px;
    top: 30px;
    width: 500px;
    height: 250px;
    padding: 20px;
}

#pic_4{
    position: relative;
    left: 350px;
    top: 30px;
    width: 500px;
    height: 250px;
    padding: 20px;
}

.previous_next{
    position: relative;
    left: 670px;
    top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background: #FAFFFF;
}

.previous_next:hover{
    background-color: #232F57;
}

.previous_next:active{
    background-color: #E4D9FF;
}

#button_remain_color{
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}

#pad{
    padding: 30px;
}
#storyboard{
    font-size: 18pt;
    font-weight: bolder;
    position: relative;
    left: 270px;
    top: 30px;
    color: #FAFFFF;
}
