canvas{
  background: transparent;
  display: block;
  padding: 0;
  margin: auto;
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body{
  background-color: #30343F;
}

#protagonist{
  width: 80px;
  height: 150px;
  background-image: url("running.png");
  background-size: 100px 180px;
  position: relative;
  top: 370px;
  left: 500px;
}

.jump {
  animation: jump 0.8s linear;
}

@keyframes jump {
  0% {
    top: 180px;
  }

  30% {
    top: 170px;
  }

  50% {
    top: 140px;
  }

  80% {
    top: 170px;
  }

  100% {
    top: 180px;
  }
}

#enemy{
  width: 80px;
  height: 150px;
  position: relative;
  top: 250px;
  left: 800px;
  background-image: url("angrycorona.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  animation: blocker 3s infinite linear;
}

@keyframes blocker {
  0%{
    left: 1100px
  }
  100%{
    left: 370px;
  }
}
